* {
  margin: 0;
  padding: 0;
}
.container .page-nav-bar {
  background-color: #3296fa;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.page-nav-bar .van-nav-bar__title {
  color: #fff;
}
.container .van-hairline--bottom:after {
  border-bottom-width: 0;
}
